$background: #2E3440;
$foreground: #D8DEE9;
$black: #3B4252;
$red: #BF616A;
$green: #A3BE8C;
$yellow: #EBCB8B;
$blue: #81A1C1;
$magenta: #B48EAD;
$cyan: #88C0D0;
$white: $foreground;

*{
    all: unset;
    font-size: 15px;
    font-family: "Fira Code Nerd Font";
}

/** General **/
.bar_class {
    background-color: $background;
    color: $foreground;
    // border-radius: 16px;
}
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}

/** Widgets **/
.clock_time_sep, .clock_date_sep {
    margin: 0px 2px 0px 2px;
}
.clock_minute_class {
    margin: 0px 0px 0px 0px;
}

.clock_hour_class {
    margin: 0px 0px 0px 0px;
}


.membar {
    color: $yellow;
    background-color: $black;
}
.iconmem {
    color: $yellow;
}

.batbar {
    color: $green;
    background-color: $black;
}
.batbar-low {
    color: $red;
    background-color: $black;
}
.iconbat {
    color: $green;
}
.iconbat-low {
    color: $red;
}

.cpubar {
    color: $magenta;
    background-color: $black;
}

.iconcpu {
    color: $magenta;
}

.mem_module, .cpu_module {
    margin: 0px 0px 0px 15px;
}
.iconbat, .iconmem, .iconcpu {
    font-size: 15;
    margin: 6px;
}

.val-text {
    margin: 0px 15px 0px 15px;
}

.brightbar trough highlight {
    // background-image: linear-gradient(to right, #e4c9af 30%, #f2cdcd 50%, #e0b089 100% *50);
    background-color: $yellow;
    border-radius: 10px;
}
.bright_icon {
    font-size: 15;
    color: $yellow;
    margin: 0px 15px 0px 0px;
}
.bright {
    color: $yellow;
}

.volbar trough highlight {
    background-color: $blue;
    border-radius: 10px;
}
.volume_icon {
//    font-family: "Material Design Icons";
    font-size: 15;
    color: $blue;
    margin: 0px 15px 0px 0px;
}

.wifi {
    // font-size: 15;
    color: $blue;
    border-radius: 10px;
    // margin: 0px 15px 0px 15px;
}
.wifi-icon {
//    font-family: "Material Design Icons";
    font-size: 15;
    color: $blue;
    margin: 0px 15px 0px 0px;
}
.wifi-text {
    margin: 0px 15px 0px 0px;
}


.separ {
    color: $black;
    font-weight: bold;
    font-size: 15px;
    margin: 0px 8px 0px 8px;
}



scale trough {
    all: unset;
    background-color: $black;
    border-radius: 16px;
    min-height: 10px;
    min-width: 70px;
    margin: 0px 10px 0px 0px;
}

.works {
    // font-size: 15px;
    // font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.workspace {
    color: $blue;
}
